
body {
  margin: 0;
  padding: 0;
}

.contenedorPrincipal {
  display: flex;
  text-align: center;
  margin-left: 300px;     
  margin-right: 20vw;        
  width: calc(100% - 300px - 6vw);
  
  min-height: 100vh;
  padding: 0;
 
  box-sizing: border-box;
  overflow-x: hidden;
}


.contenedor-der {
  position: fixed;
  right: 0;
  top: 0;
  margin: 0;
  padding: 20px;
  height: 100vh;
  width: 20vw; 
  background-color: #ffffff;
  box-shadow: -1px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 10;
  justify-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;    
  

}

.foto-usuario{
    margin-top: 2rem;
    margin-left: 20px;
    border-radius: 50%;
    border-color: #ec339b; 
    border-style: solid;
    height: 100px;
    width: 100px;
}

.datos-user{
    text-align: center;
      border-bottom: 2px solid;             
  border-bottom-color: #a7a7a8;   
    ;
}

.datos-user h2,h3,h5{
    margin: 0;
    padding: 0;
    color: #495057;

}
.contenedor-med{
   align-items: center;
   text-align: center;
    flex: 1;
  /* max-width: 100%; */
    width: 100%;
    margin-top: 20px;
    
  overflow-y: auto;
  box-sizing: border-box;
}

.feed{

     display: flex;
  justify-content: flex-end;
  margin:0;

}