body {
  margin: 0;
  padding: 0;
}

.contenedorPrincipal2 {
  display: block;
  text-align: center;
  margin-left: 280px;       
  margin-right: 0;       
  width: calc(100vw - 300px);
  
  min-height: 100vh;
  padding: 20px;
  padding-top: 40px;
  
  box-sizing: border-box;
  overflow-x: hidden;
}

.cabecera-profile{
   display: flex;
  align-items: center;
  gap: 20px;
  width: 80vw;
  
  margin-bottom: 40px; 
  text-align: center; 
}
.foto-perfil-2 {
   width: 150px;
  height: 150px;
  border-width: 4px;
 border-right-color: #e4e4e4;
  border-color: #fc476a;
  border-style: solid;
  object-fit: cover;    
  border-radius: 50%;   
  flex-shrink: 0;
}
.cabecera-izq {
  display: flex;
  justify-content: flex-end;  
  align-items: flex-start;    
  width: 35%;
  padding-right: 30px;
  text-align: right;  
  border-right: 1px solid #ccc;        

}

.container-cab-datos{
   
  text-align: right;

}
.container-cab-datos h4{
  margin: 0;
}
.cabecera-der {
  width: 65%;
  padding-top: 40px;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 10px;
}
.container-cabezera-seguidores{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.container-cabezera-barra-seguir{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.User-galeria {
  display: flex;
  justify-content: center;
}

.container-cabezera-barra-seguir button{

  border-radius: 15px;
  background: linear-gradient(to right,  #fc476a, #ec339b);
  color: white;
  width: 200px;
  padding: 10px;
  border: none;
  cursor: pointer;
  
}

.container-cabezera-barra-seguir button:hover {
  filter: brightness(1.1);
}